@model IEnumerable<Student_Entity.Models.Student>

@{
    ViewData["Title"] = "Index";
}

<h2><u>Student Details</u></h2>
<br />
<p>
    <a asp-controller="Student" class="btn btn-success" asp-action="Add">Create New</a>
</p>
<hr />
<br />

<table class="table table-striped table-hover">
    <thead class="bg-dark text-light">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StudentID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StudentName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EnrollmentNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.contactNo)
            </th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StudentID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StudentName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EnrollmentNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.contactNo)
            </td>
            <td>
                    <a class="btn btn-success" asp-controller="Student" asp-action="Update" asp-route-id="@item.StudentID"><i class="fa-solid fa-pen-to-square" style="color:black"></i></a>
                    <a class="btn btn-danger" asp-controller="Student" asp-action="Delete" asp-route-id="@item.StudentID"><i class="fa-solid fa-trash" style="color:black"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
